<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy IMMD Lab <br />
		  <a href="https://www.binghamton.edu/mechanical-engineering/index.html">Department of Mechanical Engineering</a>
		  Site made with the template from <a href="http://www.allanlab.org/aboutwebsite.html">Allan Lab</a></p>           
            
		</div>
		<div class="col-sm-4">
		  Information:<br />
		  <a href = "mailto: dehaoliu@binghamton.edu">Contact Dr. Dehao Liu via email</a><br />
		  <a href="{{ site.url }}{{ site.baseurl }}/openings">Explore openings</a>
		</div>
		<div class="col-sm-4">
		  <a href="https://www.binghamton.edu/research/directions.html">Directions:</a><br />
		  Innovative Technologies Complex
		  Binghamton University<br />
		  85 Murray Hill Rd<br />
		  Vestal, NY 13850, USA<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
